In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [2]:
obj = pd.Series([1, "John", 3.5, "Hey "])
obj

0       1
1    John
2     3.5
3    Hey
dtype: object

In [3]:
obj.values

array([1, 'John', 3.5, 'Hey '], dtype=object)

In [4]:
obj[0]

1

In [5]:
obj[0:3]

0       1
1    John
2     3.5
dtype: object

In [6]:
obj2 = pd.Series([1,"John", 3.5,"Hey"], index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [7]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
obj2["b"]

'John'

In [9]:
obj2[["a","c"]]

a      1
c    3.5
dtype: object

In [10]:
obj2[2:4]

c    3.5
d    Hey
dtype: object

In [12]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) #convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [14]:
results = names>=85
results

Jane     True
Bill    False
Elon     True
Tom     False
Tim      True
dtype: bool

In [15]:
names.sort_index()

Bill    80
Elon    85
Jane    90
Tim     95
Tom     75
dtype: int64

In [16]:
names.sort_values

<bound method Series.sort_values of Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64>