In [1]:
#create lit
x = list()
y = ['a', 25, 'dog', 8.43]
tuplel = (10,20)
z = list(tuplel)

print(x,y,z)

[] ['a', 25, 'dog', 8.43] [10, 20]

In [2]:
#append

x = [5,3,8,6]
x.append(7)
print(x)

[5, 3, 8, 6, 7]

In [13]:
#concatenation

x = [5,3,8,6]
y = [4,14]

z = x + y
print(z)

[5, 3, 8, 6, 4, 14]

In [12]:
#extend

a = [5,3,8,6]
b = [2,14]

a.extend(b)
print(a)

[5, 3, 8, 6, 2, 14]

In [17]:
#insert 

x = [5,3,8,6]

x.insert(1,7)
print(x)

x.insert(1, ['a', 'b'])
print(x)

print(x[1])

[5, 7, 3, 8, 6]
[5, ['a', 'b'], 7, 3, 8, 6]
['a', 'b']

In [19]:
x = [5,3,4,2]

x.pop()
print(x)

print(x.pop())

x.pop()

[5, 3, 4]
4

3

In [21]:
#checking membership 
y = ['pig', 'cow', 'house']
print('cow' not in y)

False

In [22]:
#index of an item
y = ['pig', 'cow', 'house', 'cow']
print(y.index('cow'))

1

In [23]:
#sum

y = [1,2,3,4]
print(sum(y))
print(sum(y[-2:]))

10
7

In [24]:
#min & max
l = ['university', 'of', 'sri', 'jayawardenapura']
print(min(l))

print(max(l))

#check again

jayawardenapura
university

In [25]:
#sort

print(sorted(l))

['jayawardenapura', 'of', 'sri', 'university']

In [26]:
#iterating listss

x = [7,8,3,5]

for item in x:
    print(item)

7
8
3
5

In [27]:
a = ["ddd", "fff", "ccc"]
for i in reversed(a):
    print(i)

ccc
fff
ddd

In [28]:
a = [2, 23, 45]
for i in reversed(a):
    print(i)

45
23
2

In [40]:
x = "abc2ba"

# for i in x:
#     if x[0] == x[-1]:
#         print("okay")
#    else:
#         print("No")
        

for item in x:
    k = item
#     print(k)
    
for i in reversed(x):
    h = i
#     print(h)
    
if k == h:
    print("qqq")
else:
    print("Www")
    
#check again

qqq

In [46]:
def is_palindrome(string):
    string = string.lower()  # Convert string to lowercase for case-insensitive comparison
    string = ''.join(char for char in string if char.isalnum())  # Remove non-alphanumeric characters
    return string == string[::-1]  # Compare the string with its reverse

word = input("Enter a word: ")
if is_palindrome(word):
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

Enter a word: abc2ba
It's not a palindrome.

In [41]:
#index & item
y = [7,8,9]
for index, item in enumerate(y):
    print(index,item)

0 7
1 8
2 9

In [35]:
#list comprehension

a = [m for m in range(8)]
print(a)
b = [i**2 for i in range(10) if i >4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

In [42]:
#unpacking

y = ['pig', 'cow', 'house', 'cow']
a, b ,c ,d = y
print(a,b,c,d, sep="\n")

pig
cow
house
cow

In [44]:
#tuple

x = ()
print(x,type(x))

x = (1,2,3)
print(x,type(x))

x = 1,2,3
print(x,type(x))

x =2,
print(x,type(x))

list1 = [2,3,5]
x=tuple(list1)
print(x,type(x))

() <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(2,) <class 'tuple'>
(2, 3, 5) <class 'tuple'>

In [50]:
#creating new set

x = {3,5,7,5}
print(x)

y = set()
print(y)

list1 = [2,3,3,4,5]
z = set(list1)
print(z)

{3, 5, 7}
set()
{2, 3, 4, 5}