In [2]:
from math import *

print( sqrt(4) )
print( abs(-2) )
print( min(4, 6) )
print( max(6, 8) )

2.0
2
4
8

In [3]:
def my_fuction():
    print( "Hello")
    
my_fuction()

Hello

In [4]:
def my_fuction(fname):
    print( "Hello " + fname)
    
my_fuction("Kamal")
my_fuction("Nimal")

Hello Kamal
Hello Nimal

In [6]:
def my_fuction(x):
    return 5*x

print(my_fuction(4))
print(my_fuction(5))

20
25

In [8]:
def swap(x,y):
    return y,x

a = 10
b = 20

a, b = 5,40

a, b = swap(a, b)

print(a,b)

40 5

In [9]:
def max(x=45, y=60):
    if x > y:
        z=x
    else:
        z=y
    
    return z


a = 10
b = 20

print("Max is ", max(a,b))
print("Max is ", max(x=50))
print("Max is ", max(y=80))

Max is  20
Max is  60
Max is  80

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for x in range(100, 50, -2):
    print(x, end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52

In [45]:
i=0

for x in range(8, 100, 8):
    i=i+1
    print("8 x", i," = ", x )

8 x 1  =  8
8 x 2  =  16
8 x 3  =  24
8 x 4  =  32
8 x 5  =  40
8 x 6  =  48
8 x 7  =  56
8 x 8  =  64
8 x 9  =  72
8 x 10  =  80
8 x 11  =  88
8 x 12  =  96

In [46]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No no more items.")

0
1
5
No no more items.

In [47]:
for i in range(1,11):
    print("*")

*
*
*
*
*
*
*
*
*
*

In [48]:
for i in range(1,6):
    for j in range(1,6):
        print(" * ", end="")
    print()

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

https://www.tutorialstonight.com/python/pattern-program-in-python

In [61]:
n = int(input("Enter n "))
fact =1

for x in range(1, n+1):
    fact *= x
else:
    print("Factorial is ", fact)

Enter n 5
Factorial is  120

In [62]:
b = [ i for i in range(10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
b = [ i**2 for i in range(10)]
print(b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
b = [ i**2 for i in range(10) if i>4]
print(b)

[25, 36, 49, 64, 81]

In [65]:
b = [ i**2 for i in range(10) if i%2 == 0] 
print(b)

[0, 4, 16, 36, 64]

In [67]:
obj = ["Even" if i%2 == 0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [68]:
#check
obj = [if i%2 == 0 "Even" else "Odd" for i in range(10)]
print(obj)

SyntaxError: invalid syntax (3205238703.py, line 1)

In [74]:
b = [i**2 for i in range(10) if i%2 ==0 if i%3 == 0]
print(b)

[0, 36]

In [75]:
names = ['Amal', 'Kamal', 'Nimal']
ages = [25,34,45]
person_tuples = [ (name, age) for name, age in zip(names, ages)]
print(person_tuples)

[('Amal', 25), ('Kamal', 34), ('Nimal', 45)]

In [77]:
nums1= [1,2,3]
nums2= [4,5,6]
nums = [(x,y) for x in nums1 for y in nums2]
print(nums)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [80]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
flatList = [ num for row in matrix for num in row ]
print(flatList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
matrix = [[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [85]:
matrix = [[1,2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

# A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression

In [86]:
x = lambda a : a + 10
print(x(5))

15

In [87]:
x = lambda a,b : a * b
print(x(5,6))

30

In [88]:
tp=lambda up,qty: up*qty

tot = tp(5, 6)
print(tot)

30

In [91]:
is_leap_year = lambda year: year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

year = int(input("Enter a year: "))

if is_leap_year(year):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2023
2023 is not a leap year.

In [94]:
def totPay(dis):
    return lambda up, qty : up * qty * ((100-dis)/100)

totPayWith10Dis = totPay(10)
totPayWith5Dis = totPay(5)
totPayWithZeroDis = totPay(0)

print(totPayWith10Dis(10,15))
print(totPayWith5Dis(10,15))
print(totPayWithZeroDis(10,15))

135.0
142.5
150.0

In [95]:
#map 
l = [1,2,3,4,5]
print(list(map(lambda x : x**2, l)))

[1, 4, 9, 16, 25]

In [96]:
#filter
l = [1,2,3,4,5]
print(list(filter(lambda x : x>3, l)))

[4, 5]

In [97]:
import functools

l = [1, 2, 3, 4, 5]
print ( functools.reduce( lambda x , y : x * y , l ) )

120

In [107]:
#Start -> "The" End -> "Spain"
#https://www.w3schools.com/python/python_regex.asp 
    
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [108]:
x = re.findall(".ai.", txt)
print(x)

['rain', 'pain']

In [112]:
txt = "16/10/2022	DSA 501 3.0	Mathematics for Data Science and Artificial Intelligence	9.00 am - 12.00 Noon	SMART Classroom 16/10/2022	DSA 502 2.0	Programming for Data Science and Artificial Intelligence	2.00 pm-5.00pm	SMART Classroom"

pattern = r'\d{1,2}\.\d{2}\s*[ap]m' 
    
x = re.search(pattern, txt)
print(x)

<re.Match object; span=(80, 87), match='9.00 am'>

In [116]:
"""Note: r'\d{1,2}\.\d{2}\s*[ap]m' to match the starting time format 
(e.g., "9.00 am" or "2.00 pm"). This pattern matches one or two digits followed 
by a period, two digits, optional whitespace, and "am" or "pm".""" 

def extract_starting_time(text):
    pattern = r'\d{1,2}\.\d{2}\s*[ap]m'
    match = re.search(pattern, text)
    if match:
        return match.group()
    else:
        return None

# Test the function

text = "16/10/2022 DSA 501 3.0 Mathematics for Data Science and Artificial Intelligence 9.00 am - 12.00 Noon SMART Classroom 16/10/2022 DSA 502 2.0 Programming for Data Science and Artificial Intelligence 2.00 pm-5.00pm SMART Classroom"

starting_time = extract_starting_time(text)
if starting_time:
    print("Starting time:", starting_time)
else:
    print("Starting time not found.")

Starting time: 9.00 am